<div class="flex justify-between items-center p-2 border-b hover:bg-slate-50 cursor-pointer" (click)="onLaunchClicked()">
    <!-- LINKS -->
    <div class="flex items-center"> 
        <img src="{{ launch.links.patch.small }}" alt="" width="40px" height="40px">
        <div class="flex flex-col pl-2">
            <span class="text-slate-900" [ngStyle]="{'color': launch.isRead ? 'black' : 'midnightblue'}" [ngClass]="{'boldText': !launch.isRead}">{{ launch.name }}</span>
            <!-- <span class="text-slate-600">{{ launch.date_local | date }}</span> -->
            <span class="text-slate-600">{{ launch.date_local | date:'fullDate' }}</span>
        </div>    
    </div>
    <!-- LINKS -->

    <!-- RECHTS -->
    <div class="flex items-center">
        <div class="flex flex-row items-end">
            <span class="material-icons text-xl text-gray-TXT" *ngIf=!launch.success>local_fire_department</span>
            <!-- <span class="material-icons text-xl text-gray-TXT" [hidden]="launch.success"></span> -->
            <span class="material-icons text-xl text-gray-TXT">chevron_right</span>    
        </div>
    </div>
    <!-- RECHTS -->   
</div>